{% extends "base.html.twig" %}

{% block body %}
<h1>Services</h1>
<ul>
<li>{{services.name}}</li>
<li>{{services.description}}</li>
<li>{{services.isActive ? "yes" : "no"}}</li>
<li>{{services.createdAt|date("m/d/Y")}}</li>
</ul>
{% endblock %}