/* @font-face {
    font-family: "AdventPro";
    font-style: italic;
    src: url(/font/Advent_Pro/AdventPro-Italic-VariableFont_wdth,wght.ttf) format("truetype");
}

body {
    font-family: "AdventPro", sans-serif;
} */